<?php
/** @var \Omnipro\BlogTest\Block\Form\Index $block */
?>
<?php
$collection = $block->getPostCollection()
    ->joinFields()
    ->setOrder('create_at', 'desc');
?>
<form action="<?= $block->getUrl('blogtest/form/postcontent') ?>" method="POST" enctype="multipart/form-data"
      data-mage-init='{"validation":{}}' class="blogtest-post-new">
    <fieldset class="fieldset">
        <h1 class="page-title">
            <span><?= $this->getBlogTitle() ?></span>
        </h1>
        <h2>
            <span><?=  $this->getBlogSubTitle() ?></span>  
        </h2>

        <div class="fields group">
            <div class="field required title">
                <label class="label" for="title">
                    <span><?= __('New blog post') ?></span>
                </label>

                <div class="control">
                    <input type="text" name="title" id="title" placeholder="Title" class="input-text required-entry validate-alphanum-with-spaces">
                </div>
            </div>
        
            <div class="actions-toolbar">
                <button type="submit" class="action primary" title="<?= __('Save post') ?>">
                    <span><?= __('Save post') ?></span>
                </button>
            </div>
          
            <div class="field required">
                <div class="control">
                    <textarea name="content" id="content" placeholder="Content" class="input-text required-entry" rows="5"></textarea>
                </div>
            </div>
        
            <div class="field required email">
                <div class="control">
                  <input type="text" name="email" id="subject" placeholder="email" class="input-text required-entry validate-email">
                </div>
            </div>
          
            <div class="field required file">
                <div class="control">
                    <input type="file" class="multi required-entry" name="attachment[]" id="attachment"/>
                </div>            
            </div>
        </div>
    </fieldset>
</form>
<br>
<br>
<!-- Blog Post listing -->
<div class="post_listing"> 
    <?php if ($collection->count()): ?>
        <div class="post-wrapper">
            <?php foreach ($collection as $post): ?>
                <div class="data post-top">
                    <span class="title"><h2><?= $post->getTitle() ?></h2></span>
                    <span class="date"><?= $post->getCreateAt() ?></span>
                </div>
                <div class="data content">
                    <span class="image"> 
                         <?= '<img id="image" height="100" width="100"  src="data:image;base64,'.base64_encode($post->getAttachment()).' "> ' ?>
                    </span>
                    <span class="content"><?= $post->getContent() ?></span>
                </div>            
            <?php endforeach ?>
        </div>
    <?php else: ?>
        <div class="message info empty">
            <span><?= __("Oops, You don't have Post yet") ?></span>
        </div>
    <?php endif ?>
</div>